<div class="row">
    <div class="col-md-12 mt-5">
      <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger">
         <ul>
           <% errors.forEach(error => { %>
             <li><%= error.msg %></li>
          <% }) %> 
         </ul>
        </div>
       <% } %>
        <% if (msg.length > 0) { %>
         <div class="alert alert-success" role="alert">
            <%= msg  %> 
         </div>
        <% } %>
        <%- include('components/tambah.ejs') %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Alamat</th>
                <th scope="col">Kota</th>
                <th scope="col">Negara</th>
                <th scope="col">Kodepos</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <%  i = 1; %> 
            <% data.forEach(data => { %>
            <tbody>
              <tr>
                <th scope="row"><%= i++; %> </th>
                <td><%= data.nama %> </td>
                <td><%= data.email  %> </td>
                <td><%= data.alamat  %> </td>
                <td><%= data.kota  %> </td>
                <td><%= data.negara  %> </td>
                <td><%= data.kodepos  %> </td>
                <td>
                  <button class="btn btn-info">Edit</button>
                  <button class="btn btn-danger">Delete</button>

                </td>

              </tr>
            </tbody>
            <% }) %> 
          </table>
    </div>
</div>
